name: Continuous Integration and Delivery

on: [push]


permissions:
  contents: read
  packages: write

jobs:

  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: main
      - name: Set image name
        run: |
          echo "IMAGE=ghcr.io/$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')/fastapi-tdd-docker/summarizer" >> $GITHUB_ENV
      - name: Log in to GitHub Packages
        uses: docker/login-action@v2
        with: 
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }} 
      - name: Pull image
        run: |
          docker pull ${IMAGE}:latest || true
      - name: Build image
        run: |
          docker build \
            --cache-from ${IMAGE}:latest \
            --tag ${IMAGE}:latest \
            --file ./project/Dockerfile.prod \
            "./project"
      - name: Push image
        run: |
          docker push ${IMAGE}:latest

  test:
    name: Test Docker Image
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: main
      - name: Set image name
        run: |
          echo "IMAGE=ghcr.io/$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')/fastapi-tdd-docker/summarizer" >> $GITHUB_ENV
      - name: Log in to GitHub Packages
        uses: docker/login-action@v2
        with: 
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull image
        run: |
          docker pull ${IMAGE}:latest || true
      - name: Build image
        run: |
          docker build \
            --cache-from ${IMAGE}:latest \
            --tag ${IMAGE}:latest \
            --file ./project/Dockerfile.prod \
            "./project"
      - name: Run container
        run: |
          docker run \
            -d \
            --name fastapi-tdd \
            -e PORT=8765 \
            -e ENVIRONMENT=dev \
            -e DATABASE_URL=sqlite://sqlite.db \
            -e DATABASE_TEST_URL=sqlite://sqlite.db \
            -p 5003:8765 \
            ${IMAGE}:latest
      - name: Pytest
        run: docker exec fastapi-tdd uv run pytest .
      - name: Ruff lint
        run: docker exec fastapi-tdd uv run ruff check .
      - name: Ruff format
        run: docker exec fastapi-tdd uv run ruff format --check .
